<h1>Main Items</h1>
<table>
  <thead>
    <tr>
      <th>hash_name</th>
      <th>price</th>
      <th>link</th>
      <th>link_destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @main_items.each do |item| %>
      <tr>
        <td><%= item.hash_name %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Link', item.link %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
